{% extends 'app/layout.html' %}

{% block title %}{{ match.home_team.name }} vs {{ match.away_team.name }} - TikNWin{% endblock %}

{% block header %}TikNWin{% endblock %}

{% block content %}
  <div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 2em;">{{ match.home_team.name }} vs {{ match.away_team.name }}</h1>
    <p>Location: {{ match.location }}</p>
    <p>Date and Time: {{ match.date_time }}</p>
    {% with time_difference=match.date_time|timeuntil:now %}
    <p>Time remaining: {{ time_difference }}</p>
    {% endwith %}

    <!-- Display flags for home and away teams -->
    <div style="display: flex; justify-content: space-around; margin-top: 20px;">
      <div style="flex: 1;">
        {% if match.home_team.flag_image %}
          <img src="{{ match.home_team.flag_image.url }}" alt="{{ match.home_team.name }} Flag" style="width: 300px; height: auto;">
        {% else %}
          <p>No flag available for {{ match.home_team.name }}</p>
        {% endif %}
      </div>
      <div style="flex: 1;">
        {% if match.away_team.flag_image %}
          <img src="{{ match.away_team.flag_image.url }}" alt="{{ match.away_team.name }} Flag" style="width: 300px; height: auto;">
        {% else %}
          <p>No flag available for {{ match.away_team.name }}</p>
        {% endif %}
      </div>
    </div>

    {% if user_has_prediction %}
      <!-- Display the user's existing prediction -->
      <p style="font-size: 1.5em; margin-top: 20px;">Your Prediction: {{ user_prediction.predicted_team.name }}</p>
    {% else %}
      <!-- Display the prediction form -->
      <form method="post" action="{% url 'app:view_match' match.id %}" style="margin-top: 20px;">
        {% csrf_token %}
        <label style="font-size: 1.5em;" for="predicted_team">Your Prediction:</label>
        {% for team in participating_teams %}
          <label style="margin-right: 20px;">
            <input type="radio" id="predicted_team_{{ team.id }}" name="predicted_team" value="{{ team.id }}" required>
            {{ team.name }}
          </label>
        {% endfor %}
        <p><button type="submit" style="font-size: 1.2em;">Make Prediction</button></p>
      </form>
    {% endif %}
  </div>
{% endblock %}
