{% extends 'app/layout.html' %}

{% block title %}User Profile{% endblock %}

{% block header %}User Profile{% endblock %}

{% block content %}
    <h2>Your Profile</h2>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    {% if edit_mode %}
        <form method="post" action="{% url 'app:profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit">Save Changes</button>
        </form>
    {% else %}
        <table>
            <tr>
                <td><strong>Username:</strong></td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><strong>Date of Birth:</strong></td>
                <td>{{ user.date_of_birth }}</td>
            </tr>
            <tr>
                <td><strong>Profile Picture:</strong></td>
                <td>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" style="border-radius: 50%; width: 100px; height: auto;">
                    {% else %}
                        No profile picture available.
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="{% url 'app:profile' %}?edit=true">Edit Profile</a>
    {% endif %}
{% endblock %}
