{% extends 'app/layout.html' %}

{% block title %}Sports - TikNWin{% endblock %}

{% block header %}TikNWin{% endblock %}

{% block content %}
<h1>Sports List</h1>

{% for sport in sports %}
    <div style="display: inline-block; margin: 10px;">
        <a href="{% url 'app:view_matches' sport.id %}">
        <img src="{{ sport.image.url }}" alt="{{ sport.name }}" style="border-radius: 50%; width: 100px; height: auto;">
        <p><h3>{{ sport.name }}</h3></p>
        </a>
    </div>
{% endfor %}
{% endblock %}
