
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ff7300;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    top:0;
    width: 100%;
    background-color: #a49c9c;
    overflow: auto;
    height: auto;
}

.left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }

main {
    padding: 20px;
}

footer {
    background-color: #a49c9c;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
}

table {
    text-align: left;
}

td {
    vertical-align: top;
  }